<ion-header>
  <ion-toolbar>
    <ion-title>Fils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="light">
    <div class="date">Absences</div>
    </ion-toolbar>
    <ion-list>
      <ion-item>
        <div class="vertical-center">
          <ion-img [src]="getImg(stud?.imageUser?.picByte)" class="img" ></ion-img>
        </div>


        <div><h6> Matricule: {{stud?.id}}</h6><h6>Nom et Prenom: {{stud?.lastName}} {{stud?.firstName}} </h6></div>


        </ion-item>

    </ion-list>



<ion-card *ngFor="let abs of listAbsence" [style.border-top]="card()">
  <h6 >Matiere : {{abs?.subject?.name}} </h6>
  <h6 >Date de la séance : {{abs?.date  | date: 'EEEE, MMMM d, y'}} </h6>
  <h6 >Debut de la séance : {{getdate(abs?.start) | date: 'h:mm a'	}} </h6>
  <h6 >Fin de la séance : {{getdate(abs?.end) | date: 'h:mm a'	}} </h6>




</ion-card>
</ion-content>
