<ion-header>
  <ion-toolbar>
    <ion-title>Fils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="light">
    <div class="date">Absences</div>
    </ion-toolbar>
    <ion-list>
      <ion-item>
        <div class="vertical-center">
          <ion-img [src]="getImg(stud?.imageUser?.picByte)" class="img" ></ion-img>
        </div>


        <div><ion-label> Matricule: {{stud?.id}}</ion-label><br/><ion-label>Nom et Prenom: {{stud?.lastName}} {{stud?.firstName}} </ion-label></div>


        </ion-item>

    </ion-list>

    <div  style="overflow-x:auto">
			<div class="table-responsive">
				<div class="table-wrapper">
					<div class="table-title">
						<div class="row">
							</div>
					</div>

					<table class="table table-striped table-hover table-bordered" scrollX="true">
						<thead>
							<tr>
								<th> Matiere</th>
                <th>date de séance</th>
                <th>Debut de séance</th>
                <th>Fin de séance</th>


							</tr>
						</thead>
						<tbody>
							<tr  *ngFor="let abs of listAbsence">
								<td>{{abs?.subject?.name}}</td>
                <td>{{abs?.date  | date: 'EEEE, MMMM d, y'}}</td>
                <td>{{getdate(abs?.start) | date: 'h:mm a'	}}</td>
                <td>{{getdate(abs?.end) | date: 'h:mm a'	}}</td>


                </tr>
                </tbody>
                </table>
                </div>
                </div>
                </div>



</ion-content>
