<ion-header>
  <ion-toolbar>
    <ion-title>Fils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>

    <ion-segment>

      <ion-segment-button [routerLink]="['/metting-parent',stud?.level?.id,stud?.id]">
	 Prendre Rendez-vous
    </ion-segment-button>
    <ion-segment-button >


     Consulter Rendez-vous

      </ion-segment-button>


    </ion-segment>
  </ion-toolbar>

  <ion-toolbar color="light">
    <div class="date">Rendez-vous</div>

    </ion-toolbar>
    <ion-list>
      <ion-item>
        <div class="vertical-center">
          <ion-img [src]="getImg(stud?.imageUser?.picByte)" class="img" ></ion-img>
        </div>


        <div><h6> Matricule: {{stud?.id}}</h6><h6>Nom et Prenom: {{stud?.lastName}} {{stud?.firstName}} </h6></div>


        </ion-item>

    </ion-list>

<ion-content>
  <div class="state"> <i [style.color]="'#009432'" class="fas fa-circle"> </i>   Accepté <i [style.color]="'#F79F1F'" class="fas fa-circle"> </i>  En Cours <i [style.color]="'#EA2027'"  class="fas fa-circle">  </i>Annulé</div>
  <ion-card *ngFor="let met of listofMetting" [style.border-top]="card()">
    <h6> Date : {{met?.date}} </h6>
    <h6 >Heure:{{met?.time}}  </h6>
    <h6 > Enseignant :   {{met?.prof?.firstName}}   {{met?.prof?.lastName}} </h6>
    <h6 > Status : <i [style.color]="color(met?.state)" class="fas fa-circle"></i>  </h6>

  </ion-card>


</ion-content>
