a {
  color: black;
  text-decoration: none;
}
ion-segment-button {
  --background-checked: var(#e2e7ec);
  --color-checked: var(--ion-color-primary-contrast);
  --indicator-color: transparent;
  --color:#e2e7ec;
}




ion-toolbar{
  text-align: center;



}

.vertical-center{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.img{
  border-radius: 50% !important;
  overflow: hidden;
width:124px;
height: 124px;

  }
  .state{
    text-align: center;
  }

  font{
    font-weight: bold;
    color:red;
    size:16px;
}

body {
    color: #566787;
    background: #f5f5f5;
    font-family: 'Roboto', sans-serif;
}
a {
    color: #e2e7ec;
    text-decoration: none;
}
ion-card{
  text-align: center;
}
