<ion-header>
  <ion-toolbar>

    <ion-title>ELEVE</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content>
  <ion-toolbar>

    <ion-segment>
      <ion-segment-button value="Add">
        <i class="fas fa-user-plus"></i> Inscription
      </ion-segment-button>

  <ion-segment-button (click)="navigateTo()">
    <i class="fas fa-users-cog" ></i>
    Consulter
</ion-segment-button>
<ion-segment-button routerLink='/sanction' >
  <i class="fas fa-balance-scale"></i>  sanction
</ion-segment-button>
    </ion-segment>
  </ion-toolbar>

    <form [formGroup]="fStudent" >
  <ion-item lines="full">
    <ion-label position="floating">Nom</ion-label>
    <ion-input type="text" formControlName="firstName"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Prenom</ion-label>
    <ion-input type="text" formControlName="lastName"></ion-input>
  </ion-item>



  <ion-item>
    <ion-label position="floating">Date de naissance</ion-label>
    <ion-datetime displayFormat="MMM DD, YYYY" formControlName="dateBirth" ></ion-datetime>
  </ion-item>


  <!-- Radio buttons -->
  <ion-radio-group lines="full" formControlName="sexe">
    <ion-list-header>
      <ion-label>sexe</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>homme</ion-label>
      <ion-radio slot="start" value="homme" checked></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>Femme</ion-label>
      <ion-radio slot="start" value="femme"></ion-radio>
    </ion-item>
  </ion-radio-group>


  <ion-item>
    <ion-label>Niveau</ion-label>
    <ion-select formControlName="aclass" >
      <ion-select-option *ngFor="let clas of class"  [value]="clas.name"  >{{clas.name}}</ion-select-option>
    </ion-select>
  </ion-item>



  <ion-list style="text-align:center">

    <a routerLink="/student-register"><img type="submit" (click)="addStud()" src="assets/images/checked.png"></a>
      </ion-list>
</form>



</ion-content>
