<ion-header>
  <ion-toolbar>
    <ion-title>CLASSE</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content scrollX="true" >

  <ion-toolbar>

    <ion-segment>
      <ion-segment-button value="Add">
		<i class='fas fa-chalkboard-teacher'></i> Consulter les classes
	  </ion-segment-button>
	  <a routerLink='/add-class'><ion-segment-button>
		<i class='fas fa-chalkboard-teacher'></i> Ajouter Classe
		</ion-segment-button></a>


</ion-segment>
  </ion-toolbar>
		  <div  style="overflow-x:auto">
			<div class="table-responsive">
				<div class="table-wrapper">
					<div class="table-title">
						<div class="row">
							</div>
					</div>

					<table class="table table-striped table-hover table-bordered" scrollX="true">
						<thead>
							<tr>
								<th>Class Nom </th>
								<th>Nombre des éléves</th>
								<th>Emploi de temps </th>
								<th> Configuration Classe      </th>

							</tr>
						</thead>
						<tbody>
							<tr  *ngFor="let leve of level">
								<td>{{leve.name}}</td>
								<td>{{leve.numStud}}</td>

								<td>

							<a routerLink='/consulter-class' class="delete" title="aucun emploi de temps" data-toggle="tooltip" *ngIf="this.leve.timeTable==null"><i class="fas fa-minus-circle"></i> </a>
							<a [routerLink]="['/emp-class',leve.id]"class="add" title="Ajouter un emploi de temps a cette classe" data-toggle="tooltip" *ngIf="this.leve.timeTable==null"><i class="fas fa-plus"></i></a>


									<a [routerLink]="['/consult-emp',leve.timeTable.id]" class="edit" title="Info"  *ngIf="this.leve.timeTable!==null" data-toggle="tooltip"><i class="fas fa-info"></i></a>
										<a  routerLink='/consulter-class' class="delete" title="Supprimer"  *ngIf="this.leve.timeTable!==null" data-toggle="tooltip"><i  (click)="del(leve.timeTable.id)" class="fas fa-trash-alt"></i></a>


								</td>

								<td></td>
							</tr>

						</tbody>
					</table>
					</div>
			</div>
		</div>


</ion-content>
