<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar color="light">
    <div class="date">Date de publication : {{ newDate | date :'MMM d, y, h:mm a'}}</div>
    </ion-toolbar>
  <ion-list>
  <ion-item>
    <ion-label>Titre: {{emp?.title}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Nom de fichier: {{emp?.file.name}}</ion-label>

  </ion-item>
    <ion-item>
      <ion-label>Description :     {{emp?.desc}}</ion-label>

    </ion-item>


  </ion-list>


  <ion-list style="text-align:center">

    <a [routerLink]="['/consult-emp',id]"><img type="submit" (click)=" down(emp?.file?.fileUrl)"src="assets/images/download-file.png"></a>




  </ion-list>
</ion-content>
