<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
  <ion-item>
    <ion-label>Titre: {{emp?.title}}</ion-label>
  </ion-item>
  <ion-item>
    <ion-label> Nom de fichier: {{emp?.file.name}}</ion-label>

  </ion-item>
    <ion-item>
      <ion-label>Description :     {{emp?.desc}}</ion-label>

    </ion-item>
    <ion-item>
      <ion-label>Date de Publication :     {{newDate| date:'EEEE, MMMM d, y, h:mm a'}}</ion-label>

    </ion-item>
  
  
  </ion-list>
  <ion-list style="text-align:center">

  <ion-button color="primary"  >OK</ion-button>
  </ion-list>
</ion-content>
  