<ion-header>
  <ion-toolbar>
    <ion-title>Fils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="light">
    <div class="date">Sanction</div>
    </ion-toolbar>

    <ion-list>
      <ion-item>
        <div class="vertical-center">
          <ion-img [src]="getImg(stud?.imageUser?.picByte)" class="img" ></ion-img>
        </div>


        <div><h6> Matricule: {{stud?.id}}</h6><h6>Nom et Prenom: {{stud?.lastName}} {{stud?.firstName}} </h6></div>


        </ion-item>

    </ion-list>




                <ion-card   *ngFor="let sanc of listSanction"  [style.border-top]="card()">
                  <h6 >Type : {{sanc.type.type}} </h6>
                  <h6 >Date: {{sanc.date  | date: 'EEEE, MMMM d, y'}} </h6>
                  <h6 >                  {{sanc.description}}
                  </h6>




                </ion-card>


</ion-content>
