.date{
    text-align: right;
font-size:24px;
color: black
}
div{
    align-items: center;
  
  
  }
  .img{
    height: 70vh;
    width: auto;
    margin: auto;
    display: block;
    align-items: center;
    margin:auto;
    
  
  }
  i{
    font-size: 24px;
    text-align: center;
    color: red;


}
  