a {
    color: #e2e7ec;
    text-decoration: none;
}
ion-segment-button {
    --background-checked: var(#e2e7ec);
    --color-checked: var(--ion-color-primary-contrast);
    --indicator-color: transparent;
    --color:#e2e7ec;
  }
  
  
  
i{
    color: #e2e7ec;
    font-size: 24px;
    text-align: center;


}
ion-toolbar{
    text-align: center;



}
.error{
    color:#d63031;
    font-family: Georgia, serif;
    font-size: 12px;

}
.succes{
    color:#27ae60;
    font-family: Georgia, serif;
    font-weight:bold;
    font-size: 14px;

}

