img {
    height: 40vh;
    width: auto;
    margin: auto;
    display: block;
    align-items: center;
    margin:auto;
        }

    .error{
        color:#d63031;
        font-family: Georgia, serif;
        font-size: 12px;

    }
    .succes{
        color:#27ae60;
        font-family: Georgia, serif;
        font-weight:bold;
        font-size: 14px;

    }
    ion-toolbar{
      text-align: center;



    }

