<ion-header>
  <ion-toolbar>
    <ion-title>Emploi du temps </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="this.emp!==null;else other_content" >
  <ion-toolbar color="light">
    <div class="date">{{datePub| date:'MMM d, y'	}}</div>
    </ion-toolbar>
    <div class="title" >{{emp?.title}}</div>
<div class="file">
  <i *ngIf="emp?.file?.fileUrl!==null"  class="fas fa-file-pdf" (click)="down(emp?.file?.fileUrl)"></i>
  </div>

    <ion-card  >

      <div >{{emp?.desc}}</div>




    </ion-card>
  </div>
  <ng-template #other_content >
    <ion-toolbar color="light">
      <div class="date">Votre Emploi du temps est inaccessible pour le moment</div>
      </ion-toolbar>

  </ng-template>
