<ion-header>
  <ion-toolbar>
    <ion-title>Rendez-vous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar color="light">
    <div class="date"></div>
    </ion-toolbar>



              <ion-item>
                <ion-label>choisir une classe</ion-label>
                <ion-select [(ngModel)]="levelId" (ngModelChange)="serachByLevel($event)" >
                    <ion-select-option [value]="level.id" *ngFor="let level of  listofLevel">{{level.name}}
                    </ion-select-option>
                </ion-select>
            </ion-item>
            <ion-card  *ngFor="let met of  filterlist" [style.border-top]="card()">
              <h6 >Nom de l'élève : {{ met?.son?.firstName}} {{ met?.son?.lastName}} </h6>
              <h6 >Classe : {{ met?.son?.level?.name }} </h6>
              <h6 >Nom du parent : {{ met?.parent?.firstName}} {{ met?.parent?.lastName}} </h6>
              <h6 >Date  : {{ met?.date}} </h6>
              <h6 >Heure : {{time(met.time ) | date:'h:mm a ' }} </h6>
              <h6 >Action :
                 <a class="add" title="Confirmer Rendez-vous"  data-toggle="tooltip" > <i (click)="accept(met?.id)" class="fas fa-check"></i> </a>
                 &nbsp;&nbsp;&nbsp;&nbsp;  <a class="delete"  title="Annuler Rendez-vous" data-toggle="tooltip"><i (click)="cancel(met?.id)"class="fas fa-times"></i> </a>
              </h6>






            </ion-card>




                </ion-content>
