<ion-header>
  <ion-toolbar>
    <ion-title>Fils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <div class="vertical-center">
        <input
        type="file"
        name="file"
        id="file"
        class="fileInput"/>
       <label for="file">

        <a [routerLink]="['/profil-stud',son?.id]"><ion-img  *ngIf="son?.imageUser==null" src="assets/images/user.jpg"  class="ion-align-self-end" title="change me"></ion-img></a>
        <a [routerLink]="['/profil-stud',son?.id]"> <ion-img  *ngIf="son?.imageUser!==null" [src]="getImg(son?.imageUser?.picByte)"  class="img" title="change me" ></ion-img></a></label>





    </div>
    <ion-item>


<h6> coordonnées  </h6>

    </ion-item>

        <ion-item>

          <img src="assets/images/law.png">     <a [routerLink]="['/sanction-stud',son?.id]">    <h6> Sanction    </h6></a>

              </ion-item>

          <ion-item>


            <img src="assets/images/results.png">  <a [routerLink]="['/info-stud',son?.level?.id]">   <h6>Notes D'info </h6></a>


      </ion-item>
      <ion-item>
      <a [routerLink]="['/absence-stud',son?.id]"> <h6>Absences</h6></a>

      </ion-item>
      <ion-item>
        <img src="assets/images/file.png" (click)="down(son?.level?.timeTable?.file?.fileUrl)">  <h6>Emploi de Temps </h6>
      </ion-item>
      <ion-item>
        <img src="assets/images/meeting.png">  <a [routerLink]="['/metting-parent',son?.level?.id,son?.id]"> <h6>Rendez-vous </h6></a>

        </ion-item>
    </ion-card>

    </ion-content>
