<ion-app>
  <ion-menu class="my-custom-menu" maxEdgeStart="100" side="start" swipeGesture="true" menuId="first"
    content-id="main-content" (ionDidOpen)="ionDidOpen($event)" (ionDidClose)="ionDidClose($event)">
    <ion-header class="menu-header">
      <ion-toolbar >
        <ion-title> Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    
    <ion-content>
      <ion-card text-center class="hide-card">
        <img src="assets/images/user.jpg" class="custom-avatar"/>
        <h2>Name Of Parent</h2>
        
        <hr>
    </ion-card>
      
      <ion-list scrollY="true">
        <ion-item >
          <a routerLink=''><p> <img src="assets/images/newspaper.png" />
            Actualités</p> </a>
        </ion-item>
        <ion-item >
          <a routerLink=''><p> <img src="assets/images/children.png" />
          Fils</p> </a>
        </ion-item>
       
        <ion-item >
          <a routerLink=''><p> <img src="assets/images/user.png" />
           Profil</p> </a>
        </ion-item>
       
        <ion-item >
          <a routerLink='/logout'><p> <img src="assets/images/logout.png" />
            Déconnexion</p> </a>
        </ion-item>
        </ion-list>
    </ion-content>
  </ion-menu>
  <ion-menu class="my-custom-menu" maxEdgeStart="100" side="start" swipeGesture="true" menuId="second"
  content-id="main-content" (ionDidOpen)="ionDidOpen($event)" (ionDidClose)="ionDidClose($event)">
  <ion-header class="menu-header">
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-card text-center class="hide-card">
    <img src="assets/images/utilisateur.png" class="custom-avatar"/>
    <h2>Admin</h2>
    
    <hr>
</ion-card>

    
    <ion-list scrollY="true">
     
      <ion-item >
       
       <a  routerLink='student-register'> <p><img src="assets/images/student.png" /> ELEVES  </p> </a> 
      </ion-item>
      <ion-item >
        <a routerLink='consulter-class'>
          
          <p> <img src="assets/images/class.png" />
         CLASSE</p> </a>
      </ion-item>
      <ion-item >
       <a routerLink='/consult-prof'><p> <img src="assets/images/teacher.png" />
        ENSEIGNANT</p> </a>
          </ion-item>
          <ion-item >
            <a routerLink="/consult-notes"><p> <img src="assets/images/news.png" />
              ACTUALITES</p> </a>
               </ion-item>
               <ion-item >
                <a><p> <img src="assets/images/notification.png" />
                  NOTIFICATIONS</p> </a>
                   </ion-item>
                   <ion-item >
                   <a routerLink='/logout'><p> <img src="assets/images/logout.png" />
                    Déconnexion</p> </a>
                    </ion-item>
    </ion-list> 
    <ion-item>
      <div class="center">
        <ion-button  shape="round">
          Close
        </ion-button>
      </div>
    </ion-item>
  </ion-content>
</ion-menu>

  <ion-router-outlet id="main-content"></ion-router-outlet>
</ion-app>