.my-custom-menu {
    // --width: 100%;
}
.center {
    display: flex;
    justify-content: center;
    width: 100%;
}
// backdrop {
//     opacity: 0;
// }
.hide-card {
    -webkit-box-shadow: none!important;


    top: 0;
    right: 0;
    left: 0;
    z-index: 0;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding-top: 15px;

  }

  .custom-avatar {
    border-radius: 30% !important;
  overflow: hidden;
width:128px;
height: 128px;

  }
  a {
    color: #212121;
    text-decoration: none;
}
