<ion-header>
  <ion-toolbar>
    <ion-title>Fils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>

 <label for="file">
   <div  class="vertical-center">
   <ion-img *ngIf= "this.url" class="img" [src]="getImg(this.url)" ></ion-img>
   <ion-img  *ngIf= "!this.url" class="img" src="assets/images/stud.png" ></ion-img>

  </div>
   </label>
   <ion-item>


    <h6>    Matricule : {{this.id}}   </h6>

        </ion-item>
   <ion-item>


    <h6>   Inscrit en {{stud?.level?.name}}   </h6>

        </ion-item>
        <ion-item>
        <input
        type="file"  (change)="changeImg($event)" name="file"  accept="image/png, image/jpeg"/>
        </ion-item>
  </ion-card>

</ion-content>
