<ion-header>
  <ion-toolbar>
    <ion-title>Fils</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
  <input
  type="file"
  (change)="changeImg($event)"
  name="file" id="file"class="fileInput"/>
 <label for="file">
   <div  class="vertical-center">
   <ion-img [src]="getImg(stud?.imageUser?.picByte)" class="img" ></ion-img>
  </div>
   </label>
   <ion-item>


    <h6>    Matricule : {{this.id}}   </h6>

        </ion-item>
   <ion-item>


    <h6>    Inscrit en {{stud?.level?.name}}   </h6>

        </ion-item>
  </ion-card>

</ion-content>
